@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Manrope", sans-serif;
    color: var(--primary-foreground);
    background-color: var(--primary);
  }
}

:root {
  --primary: #fbfbfd;
  --secondary: #fefefe;
  --accent: #84ab84;

  --primary-foreground: #3b3f47;
  --secondary-foreground: #f6fff0;
  --text-muted-foreground: #878c9e;

  --input-bg: #f6f7f9;
}
/*
@media (prefers-color-scheme: light) {
  :root {
  }
}
 */
